/* Universal Styles */

:root {
  --primary-color: #06b3bc;
  --text-color: #042d2f;
  --text-color-lighter: #074c50;
  --secondary-color: #F78828;
  --warn-color: #FDD219;
  --danger-color: #FA5456;
  --white: #FFFFFF;
  --off-white: #F1F2F4;
  --gray: #A1A1A1;
}

/* Tooltip Code Below */
